<ActionBar class="action-bar">
  <NavigationButton visibility="hidden"></NavigationButton>
  <GridLayout columns="50, *">
    <Label class="action-bar-title" text="Search" colSpan="2"></Label>

    <Label class="fas" text="&#xf0c9;" (tap)="onDrawerButtonTap()"></Label>
  </GridLayout>
</ActionBar>

<StackLayout class="page page__content">
  <Label class="page__content-icon fas" text="&#xf002;"></Label>
  <!-- <Label class="page__content-placeholder" *ngFor="let s of this.noticias.buscar()" [text]="s"></Label> -->
  <ListView
    class="list-group"
    [items]="this.noticias.buscar()"
    (itemTap)="onItemTap($event)"
    style="height: 1250px"
  >
    <ng-template let-x="item">
      <FlexboxLayout flexDirection="row" class="list-group-item">
        <Image src="res://icon" class="thumb img-circle"></Image>
        <Label
          [text]="x"
          class="list-group-item-heading"
          verticalAlignment="center"
          style="width: 60%"
        ></Label>
      </FlexboxLayout>
    </ng-template>
  </ListView>
</StackLayout>
